<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kangw.hotelreservationsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddRoom" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="eb25c5c70eb677120f8140f0f730158908ccd8c4" />

        <activity android:name=".UpdateRoom" />
        <activity android:name=".UpdateRoomPrice" />
        <activity android:name=".ViewRoom" />
        <activity android:name=".SearchResult" />
        <activity android:name=".ReservationConfirm" />
        <activity android:name=".LoginActivity"/>
        <activity android:name=".AddCard"/>
        <activity android:name=".SuccessPaymentActivity"/>
        <activity android:name=".PurchaseHistory2"/>
    </application>

</manifest>